<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
        <form >
            <mat-form-field>
                <input type="email" matInput placeholder="exemplo@hotmail.com" 
                name="email">
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="********" 
                 name="senha">
            </mat-form-field>
        </form>
      <p><a href="/">Esqueci minha senha</a></p>
      <p><a href="/">Criar conta</a></p>
    </mat-card>
    <button mat-raised-button  color="primary">
        Entrar
    </button>
    
    