<mat-card>
<mat-card-title>Novo Produto</mat-card-title>
    <form >
        <mat-form-field>
            <input matInput placeholder="rua barão de mesquita"
             [(ngModel)]="endereco" name="endereco"
            >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Vicente Almeida"  
            [(ngModel)]="nome" name="nome"
            >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="21999999999"  
            [(ngModel)]="telefone" name="telefone"
            >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="vicente@hotmail.com" 
            [(ngModel)]="email"  name="email"
            >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="ex: vidro, metal..." 
            [(ngModel)]="tipo" name="tipo"
            >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="ex: quantidade..."  
            [(ngModel)]="descricao" name="descricao"
            >
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createProducts()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()" color="">
        Cancelar
    </button>
</mat-card>